/*
 *= require bootstrap.min.css
 *= require bootstrap-theme.min.css
 *= require_tree .
 *= require_self
 */

$page-width: 960px;

body {
  background-image: url(/background-main.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.list {

  .header {
    padding: 15px;

    .btn {
      background-color: inherit;
      border: none;
      // visibility: hidden;
    }

    &:hover {
      .btn {
        visibility: visible;
      }
    }

    .title-container {
      padding: 2px 0;
      cursor: pointer;
      line-height: 40px;

      .h3 {
        word-break: break-word;
      }
    }

    .title-container, .title-edit{
      display: table-cell;
      vertical-align: top;
    }
  }

  .new-task {
    margin-bottom: 0;
  }

  .tasks-container {
    list-style: none;
    padding: 0;

    li {
      p {
        background-color: inherit;
        height: auto;
        cursor: pointer;
        word-break: break-word;
      }
    }

    // li:hover {

    //   .task-controls {
    //     .btn {
    //       visibility: visible;
    //     }
    //   }
    // }

    .task-controls {
      padding-top: 5px;
      padding-bottom: 5px;


      // .btn {
      //   visibility: hidden;
      // }
    }

    .spinner {
      height: 25px;
      margin-top: 5px;
      position: absolute;
      right: 5px;
    }
  }
}

.auth-secondary-button {
  position: absolute;
  left: 15px;
  bottom: 0;
}


// Utilities ->

.page-width {
  max-width: $page-width;
}

.table-wrapper {
  display: table;
}

// <- Utilities