<h1 style="text-transform: uppercase" class="text-center"><strong>Simple todo list</strong></h1>
<p style="text-transform: uppercase" class="text-center">from Ruby Garage</p>

<div class="container-fluid">
  <ng-view></ng-view>
</div>