<h1 style="text-transform: uppercase" class="text-center"><strong>Simple todo list</strong></h1>
<p style="text-transform: uppercase" class="text-center">from Ruby Garage</p>

<main>

  <% if user_signed_in? %>
    <%= form_tag destroy_user_session_path, method: :delete do %>
      <%= submit_tag "Sign out", class: "btn btn-warning"%>
    <% end %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-default" %>
  <% end %>
  <br>

  <ng-view></ng-view>
</main>